<style>
  body { background-image: url(<%= asset_path 'img_0518.jpg' %>);
         height: 100%;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
       }

</style>
<h1> <%= @user.username %>'s past characters: </h1>

<ul class= "characters">
      <% @user.characters.each do |character| %>
      <li class="character" style="background-color: #282828;">
      <%= link_to character.name, character %>
      <p>Classes: </p>
      <ul>
         <li>
            <% character.jobs[1..-1].each do |job| %>
            <p><%= job.name %></p>
        </li>
            <% end %>
        <br>
        </li>
        </ul>
    <br>
  <% end %>
</ul>


<h2><%= link_to "Create A New Character", new_character_path%></h2>


