<style>
  body { background-image: url(<%= asset_path 'img_0518.jpg' %>);
         height: 100%;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
       }
  ul { padding-right: 20px;
       padding-left: 20px;
     }
  li { list-style-position: inside;
       text-align: center;
       padding-left: 20px;
     }

</style>
<h1> <%= @user.username %>'s past characters: </h1>

<ul>
   <li>
      <% @user.characters.each do |character| %>
      <%= link_to character.name, character %>
      <p>Classes: </p>
      <ul>
         <li>
            <% character.jobs.each do |job| %>
            <p><%= job.name %></p>
        </li>
            <% end %>
      </ul>
      <p>Items: </p>
        <ul>
          <li>
             <% character.junks.each do |junk| %>
             <p><%= junk.name %></p>
          </li>
             <% end %>
        </ul>
      <% end %>
   </li>
</ul>


<h2><%= link_to "Create A New Character", new_character_path%></h2>


