<style>
  body { background-image: url(<%= asset_path 'img_0518.jpg' %>) }
</style>
<h1> <%= @user.username %>'s past characters: </h1>

<ul>
  <% @user.characters.each do |character| %>
    <li>
      <%= link_to character.name, character %>
      <br>
      Classes: 
        <ul>
            <% character.jobs.each do |job| %>
                <li>
                    <%= job.name %>
                </li>
                <br>
            <% end %>
        <br>
        </ul>
        Items:
        <ul>
            <% character.junks.each do |junk| %>
                <li>
                    <%= junk.name %>
                </li>
                <br>
            <% end %>
        <br>
        </ul>
    </li>
    <br>
  <% end %>
</ul>


<h2><%= link_to "Create A New Character", new_character_path%></h2>


