<body>
<h1> <%= @character.name %> </h1>

<br>

     Classes: 
        <ul>
            <% @jobs[1..-1].each do |job| %>
                <li>
                    <%= job.name %>
                </li>
                <br>
            <% end %>
        <br>
        </ul>

<%= form_for @character do |f| %>
    <%= collection_select(:character, :hook_ids, @character_hooks, :id, :prompt, {:prompt => 'What would you like to do?'}) %>
    <%= f.submit 'Go!' %>
<% end %>

</body>