<!DOCTYPE html>
<html>
  <head>
    <title>Minirpg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h4>
      <% if @logged_in %>
        Welcome, young <%= @logged_in_user.username.titleize %>...
        <%= button_to "Log out", log_out_path, method: :delete %>
  <%#<!--You have <%= @logged_in_user.# -  characters -->%>
      <% else %>
        <%= link_to "Log in", new_login_path %>
        <%= link_to "Sign up", new_user_path %>
      <% end %>

      <% if @notification %> 
        <p class="message">
          <%= @notification.html_safe %>
      
        </p>
      <% end %>

      <% if @errors && @errors.any? %>
      <ul class="errors">
        <% @errors.each do |error| %>
        <li>
          <%= error %>
          
        </li>
        <% end %>
      </ul>
      <% end %>

    </h4>

    <%= yield %>

  </body>
</html>
